{% extends "layout.html" %}

{% block body %}

<h1 style="text-align:center">Sinclair Connect!</h1>
<form action="{{ url_for('home') }}" method="post">
  <div class="card">
    <img src="/static/text-messaging.jpg" alt="textsms" style="width:100%">
    <label for="numUK">Enter <strong>UK number</strong> below:</label>
    <input id="numUK" type="number" placeholder="Enter as 447123456789" name="number" required>
    <p class="title">Enter your text in the box below:</p>
    <label for="textBox"></label>
    <textarea id="textBox" rows="10" cols="35" name="sendText" placeholder="write your text message here..." required></textarea><br>
    <p>Click <a href="">here</a> to send me a text.</p>
    <div style="margin: 24px 0;">
      <a href="{{ url_for('home') }}"><i class="fa fa-comments"></i></a>
      <a href="{{ url_for('textMe') }}"><i class="fa fa-user-circle-o"></i></a>
      <a href="#"><i class="fa fa-at"></i></a> 
    </div>
    <p><button type="submit">Send Text!</button></p>
  </div>
</form>

{% endblock %}